@model StudentRegistrationInCore.Models.DB.TblStudent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblStudent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hobbies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hobbies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Football)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Football)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Basketball)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Basketball)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cricket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cricket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tennis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tennis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drawing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drawing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doc.DocId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.GenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image.ImageId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
